description = "Header"
==
<header class="header-main">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<img alt='templatemo easy profile' class='img-responsive img-circle tm-border' src='http://www.gravatar.com/avatar/12194c6ac6469b5e9733fd2ce6093cd0?s=200'>
				<hr>
				<h1 class="tm-title bold shadow">Ahoj, tady Thinky!</h1>
				<h2 class="white bold shadow">Web developer</h2>
				<hr>
				<a href="{{ 'blog'|page }}" class="btn btn-primary">Přejít na blog</a>
			</div>
		</div>
	</div>
</header>